#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 200ms;
}

.logo:hover {
  filter: brightness(1.1);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}